#main-wrapper {
    width: 100%;
    height: 100%;
}

#main-wrapper .topbar {
    position: fixed;
    top: 0;
    width: 100%;
}

.topbar {
    background: #fff;
    height: 60px;
    position: relative;
    transition: 0.2s ease-in;
    z-index: 12;
}
.right-bar {
    background: #f0f5ff;
    left: 20%;
    padding-top: 0;
    position: fixed;
    padding: 30px;
    top: 0;
    transition: 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s;
    width: 80%;
    height: 100%;
}
.left-sidebar {
    background: #377df6;
    height: 100vh;
    left: 0;
    padding-top: 0;
    position: fixed;
    top: 0;
    transition: 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s;
    width: 20%;
    z-index: 51;
}

.shadow-5 {
    box-shadow: 0px 15px 35px rgba(20, 28, 52, 0.2);
}
.weather-background {
    position: absolute;
    height: 100%;
    opacity: 0.85;
}

/* search - bar */
.filter-row {
    background-color: #fff;
    border-radius: 6px;
    padding: 10px 13px;
}
.app-search {
    position: relative;
}
.app-search span.search-icon,
.input-btn {
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.app-search.header-search input {
    border-radius: 50px;
    width: 250px;
}

.app-search span.search-icon {
    color: #5d656f;
    left: 2.5px;
    z-index: 1;
}
.app-search .form-control {
    border-color: transparent;
    box-shadow: 0 3px 2px rgb(233 236 239 / 5%);
    transition: 0.2s ease-in;
}
.app-search .input-search-left {
    background-color: transparent;
    border: 0;
    border-radius: 0.25rem;
    color: #172a41;
    font-size: 1rem;
    padding-left: 36px;
}

/* //Graph css */

.graph-card {
    border-radius: 15px !important;
    border: none !important;
}

.font-20 {
    font-size: 20px !important;
}

.font-weight-500 {
    font-weight: 500px !important;
}
.welcome-paragraph {
    font-size: 16px !important;
    margin-top: 3px;
    font-weight: 400;
}

.input-wrapper {
    position: relative;
}
.rdt {
    position: relative;
}
.rdt {
    flex: 1 1;
}

.input-wrapper .form-control {
    padding: 9px;
    padding-right: 59px;
}

.input-icon {
    cursor: pointer;
    padding: 0.375rem;
    position: absolute;
    right: 5px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.input-icon {
    color: #172a41;
}
svg {
    overflow: hidden;
}

.rdt {
    position: relative;
}
.rdtPicker {
    display: none;
    position: absolute;
    width: 100%;
    padding: 4px;
    margin-top: 1px;
    z-index: 99999 !important;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid #f9f9f9;
}
.rdtOpen .rdtPicker {
    display: block;
}
.rdtStatic .rdtPicker {
    box-shadow: none;
    position: static;
}

.rdtPicker .rdtTimeToggle {
    text-align: center;
}

.rdtPicker table {
    width: 100%;
    margin: 0;
}
.rdtPicker td,
.rdtPicker th {
    text-align: center;
    height: 28px;
}
.rdtPicker td {
    cursor: pointer;
}
.rdtPicker td.rdtDay:hover,
.rdtPicker td.rdtHour:hover,
.rdtPicker td.rdtMinute:hover,
.rdtPicker td.rdtSecond:hover,
.rdtPicker .rdtTimeToggle:hover {
    background: #eeeeee;
    cursor: pointer;
}
.rdtPicker td.rdtOld,
.rdtPicker td.rdtNew {
    color: #999999;
}
.rdtPicker td.rdtToday {
    position: relative;
}
.rdtPicker td.rdtToday:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-bottom: 7px solid #428bca;
    border-top-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 4px;
    right: 4px;
}
.rdtPicker td.rdtActive,
.rdtPicker td.rdtActive:hover {
    background-color: #428bca;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.rdtPicker td.rdtActive.rdtToday:before {
    border-bottom-color: #fff;
}
.rdtPicker td.rdtDisabled,
.rdtPicker td.rdtDisabled:hover {
    background: none;
    color: #999999;
    cursor: not-allowed;
}

.rdtPicker td span.rdtOld {
    color: #999999;
}
.rdtPicker td span.rdtDisabled,
.rdtPicker td span.rdtDisabled:hover {
    background: none;
    color: #999999;
    cursor: not-allowed;
}
.rdtPicker th {
    border-bottom: 1px solid #f9f9f9;
}
.rdtPicker .dow {
    width: 14.2857%;
    border-bottom: none;
    cursor: default;
}
.rdtPicker th.rdtSwitch {
    width: 100px;
}
.rdtPicker th.rdtNext,
.rdtPicker th.rdtPrev {
    font-size: 21px;
    vertical-align: top;
}

.rdtPrev span,
.rdtNext span {
    display: block;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.rdtPicker th.rdtDisabled,
.rdtPicker th.rdtDisabled:hover {
    background: none;
    color: #999999;
    cursor: not-allowed;
}
.rdtPicker thead tr:first-child th {
    cursor: pointer;
}
.rdtPicker thead tr:first-child th:hover {
    background: #eeeeee;
}

.rdtPicker tfoot {
    border-top: 1px solid #f9f9f9;
}

.rdtPicker button {
    border: none;
    background: none;
    cursor: pointer;
}
.rdtPicker button:hover {
    background-color: #eee;
}

.rdtPicker thead button {
    width: 100%;
    height: 100%;
}

td.rdtMonth,
td.rdtYear {
    height: 50px;
    width: 25%;
    cursor: pointer;
}
td.rdtMonth:hover,
td.rdtYear:hover {
    background: #eee;
}

.rdtCounters {
    display: inline-block;
}

.rdtCounters > div {
    float: left;
}

.rdtCounter {
    height: 100px;
}

.rdtCounter {
    width: 40px;
}

.rdtCounterSeparator {
    line-height: 100px;
}

.rdtCounter .rdtBtn {
    height: 40%;
    line-height: 40px;
    cursor: pointer;
    display: block;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}
.rdtCounter .rdtBtn:hover {
    background: #eee;
}
.rdtCounter .rdtCount {
    height: 20%;
    font-size: 1.2em;
}

.rdtMilli {
    vertical-align: middle;
    padding-left: 8px;
    width: 48px;
}

.rdtMilli input {
    width: 100%;
    font-size: 1.2em;
    margin-top: 37px;
}

.rdtTime td {
    cursor: default;
}

.w-250 {
    width: 250px !important;
}
.location-text {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 15px;
}
.mt-15 {
    margin-top: 15px !important;
}
.mb-15 {
    margin-bottom: 15px !important;
}
